@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, sans-serif;
}
html, body, #root {
  height: 100%;
  background-color: black;
}
button {
  min-height: 48px;
}
